header.header#header
	.header__first-line
		.header-menu.header-menu_modify.header-menu_home
			.header-menu-list
				.left-block.left-blok_home
					.header-menu__logo.header-menu__logo_modify
						a(href='/').header-logo__link
							img(src='images/logo2.png' alt='логотип')
					a(href='/').header-menu__desc Meter Socket Selection Tool

				.header-sales-office.contacts-us_mobile
					a(href='contact.html')
						span Contact us
							+icon("envelope",30,27)
