header.header#header.header__detailed.header__detailed_mod
	.header-menu
		.left-block
			.header-menu__logo
				a(href='/').header-logo__link.header-logo__mofidy
					img(src='images/logo2.png' alt='логотип')
			a(href='/').header-menu__desc Meter Selection Wizard
			
		//- a(href='#').contact-us-link
		//- 	+icon("envelope",30,27)
		//- 	| Contact us
		.header-sales-office
				a(href='contact.html')
					span Contact us
						+icon("envelope",30,27)
