header.header#header
	.header__first-line
		.header-menu
			ul.header-menu-list
				.left-block.left-blok_home.left-block_width
					li.header-menu__logo.header-menu__logo_modify
						a(href='/').header-logo__link
							img(src='images/logo2.png' alt='логотип')
					li
						a(href='/').header-menu__desc.header-menu__desc_hide Meter Selection Wizard
		.header-sales-office
			a(href='#')
				span Contact us
					+icon("envelope",30,27)