header.header#header.header__modifty
	.header__first-line
		.header-menu.menu__logo_modify.header-menu__manufactorer
			ul.header-menu-list
				.left-block
					li.header-menu__logo.header-logo__choose
						a(href='/')
							img(src='images/logo2.png' alt='логотип')
					li
						a(href='/').header-menu__desc Meter Selection Wizard
				.right-block
					li.header-menu__tel 1-800-809-2772
					li.header-menu__email pqsupport@eaton.com

		.header-sales-office
			a(href='#')
				span Contact us
					+icon("envelope",30,27)

	//- .header__second-line
		//- ul.header-main-menu
		//- 	li
		//- 		a(href='#').help-section__link Help Section
		//- 			+icon("info1",28,28)
		//- 	li.active
		//- 		a(href='#') Catalogue
		//- 	li
		//- 		a(href='#') Select by application
		//- 	li
		//- 		a(href='#') Features
		//- 	li
		//- 		a(href='#') Manufacturer
		//- 	li
		//- 		a(href='#').compare__link Compare
		//- 			+icon("graphic",25,23)

		//- .header-search
		//- 	.search-input-wrapper
		//- 		input(type='text' placeholder='feature quick finder')
		//- 		+icon("loupe",24,24)