header.header#header.header__detailed
	.header-menu
		.left-block
			.header-menu__logo
				a(href='/').header-logo__link
					img(src='images/logo2.png' alt='логотип')
			a(href='/').header-menu__desc Meter Socket Selection Tool
			ul.header-catalogue-menu
				li.header-catalogue-menu__item.active
					a(href="#") Single Socket 
				li.header-catalogue-menu__item
					a(href="#") Group Metering 
				li.header-catalogue-menu__item
					a(href="#") Meter Breaker

		//- a(href='#').contact-us-link
		//- 	+icon("envelope",30,27)
		//- 	| Contact us
		.header-sales-office
				a(href='contact.html')
					span Contact us
						+icon("envelope",30,27)
