header.header#header.header_contact
	.header-menu
		.left-block
			.header-menu__logo
				a(href='/').header-logo__link
					img(src='images/logo2.png' alt='логотип')
			a(href='/').header-menu__desc Meter Socket Selection Tool
		.right-block
			ul.header-catalogue-menu
				li.header-catalogue-menu__item
					a(href="#") Single Socket 
				li.header-catalogue-menu__item
					a(href="#") Group Metering 
				li.header-catalogue-menu__item
					a(href="#") Meter Breaker

			a(href='contact.html').contact-us-link Contact us
				+icon("envelope",30,27)