extends ../main.jade

block title
	title Каталог

block header
	include ../blocks/_header

block content
	main.main
		.main-content.main-content__catalogue
			ul.main-menu
				li
					a(href='#').help-section__link.app-link Application
						img(src='images/app.svg' alt='icon')
				li
					a(href='catalogue.html') Products
				li.active
					a(href='#') Manufacturer
				li
					a(href='features2.html') Legacy
				li
					a(href='choose.html').compare__link Compare
						+icon("graphic",25,23)

			.item-block.item-block_first
				.item-block__pic
					a(href='detailed.html').img
						img(src='images/article1.png' alt='фото товара')
					a(href='how-to-buy.html').how-to-buy__link How to buy
					.item-block__socials
						a(href='compare.html').compare-link
							span Compare
								+icon("cross",7,7)
						ul.socials-list
							li
								a(href='#')
									img(src='images/fb.svg' alt='фэйсбук')
							li
								a(href='#')
									img(src='images/mail.svg' alt='почта')
							li
								a(href='#')
									img(src='images/more.svg' alt='другое')

				.item-block__info
					a(href='detailed.html').item__title Eaton IQ35M
					.item__subtitle Technical Data:  TD02601018E
					.item__description
						p The IQ 35M meter provides the ability to monitor volts and amps per phase, power, and energy.  It meets ANSI C12.20 standards for accuracy of 0.5 percent and has optional Modbus output and data logging.
					.item__specifications 
						span General Specifications:
						ul.specifications-list
							li
								+icon("check",16,16)
								p Programmable to monitor and display current, voltage, frequency, power factor, power 
									br
									| (real, reactive, apparent), energy (watt-hours, var hours, VA hours), and system demand. 
							li
								+icon("check",16,16)
								p Standard KYZ pulse output
							li
								+icon("check",16,16)
								p Optional Modbus  / data logging. 
							li
								+icon("check",16,16)
								p 0.5% Class meter.
							li
								+icon("check",16,16)
								p Designed for basic feeder applications where reading of voltage, current, frequency, power, and energy are needed
							li
								+icon("check",16,16)
								p Alarm notification on display
							li
								+icon("check",16,16)
								p Single line LCD display

					a(href='file.pdf' download).item__documentatuion-link Documentation
						img(src='images/doc1.svg' alt='документация')

			.item-block
				.item-block__pic
					a(href='detailed.html').img
						img(src='images/article2.png' alt='фото товара')
					a(href='#').how-to-buy__link How to buy
					.item-block__socials
						a(href='#').compare-link
							span Compare
								+icon("cross",7,7)
						ul.socials-list
							li
								a(href='#')
									img(src='images/fb.svg' alt='фэйсбук')
							li
								a(href='#')
									img(src='images/mail.svg' alt='почта')
							li
								a(href='#')
									img(src='images/more.svg' alt='другое')

				.item-block__info
					a(href='detailed.html').item__title Eaton IQ130
					.item__subtitle Technical Data:  TD02601015E
					.item__description
						p The IQ 130 meter provides basic measurement with the ability to monitor volts and amps per phase.  It meets ANSI C12.20 standards for accuracy of 0.5 percent and has optional Modbus/KYZ output.
					.item__specifications 
						span General Specifications:
						ul.specifications-list
							li
								+icon("check",16,16)
								p Programmable to monitor and display phase, current and voltage and min/max values. 
							li
								+icon("check",16,16)
								p Optional Modbus / KYZ pulse output. 
							li
								+icon("check",16,16)
								p 0.5% Class meter. 
							li
								+icon("check",16,16)
								p Designed for basic feeder applications where reading of voltage and current are needed 
							li
								+icon("check",16,16)
								p Three line LED display is highly visible in all lighting and mounting conditions

					a(href='file.pdf' download).item__documentatuion-link Documentation
						img(src='images/doc1.svg' alt='документация')
							
			.item-block
				.item-block__pic
					a(href='detailed.html').img
						img(src='images/article2.png' alt='фото товара')
					a(href='#').how-to-buy__link How to buy
					.item-block__socials
						a(href='#').compare-link
							span Compare
								+icon("cross",7,7)
						ul.socials-list
							li
								a(href='#')
									img(src='images/fb.svg' alt='фэйсбук')
							li
								a(href='#')
									img(src='images/mail.svg' alt='почта')
							li
								a(href='#')
									img(src='images/more.svg' alt='другое')

				.item-block__info
					a(href='detailed.html').item__title Eaton IQ140
					.item__subtitle Technical Data:  TD02601015E
					.item__description
						p The IQ 140 meter provides the ability to monitor volts and amps per phase along with power.  It meets ANSI C12.20 standards for accuracy of 0.5 percent and has optional Modbus/KYZ output.
					.item__specifications 
						span General Specifications:
						ul.specifications-list
							li
								+icon("check",16,16)
								p Programmable to monitor and display current, voltage, frequency, power factor, power (real, reactive, apparent), and system demand and min/max values.
							li
								+icon("check",16,16)
								p Optional Modbus/KYZ pulse output.
							li
								+icon("check",16,16)
								p 0.5% Class meter. 
							li
								+icon("check",16,16)
								p Designed for basic feeder applications where reading of voltage, current, frequency, and power are needed.
							li
								+icon("check",16,16)
								p Three line LED display is highly visible in all lighting and mounting conditions.

					a(href='file.pdf' download).item__documentatuion-link Documentation
						img(src='images/doc1.svg' alt='документация')

			.item-block
				.item-block__pic
					a(href='detailed.html').img
						img(src='images/article2.png' alt='фото товара')
					a(href='#').how-to-buy__link How to buy
					.item-block__socials
						a(href='#').compare-link
							span Compare
								+icon("cross",7,7)
						ul.socials-list
							li
								a(href='#')
									img(src='images/fb.svg' alt='фэйсбук')
							li
								a(href='#')
									img(src='images/mail.svg' alt='почта')
							li
								a(href='#')
									img(src='images/more.svg' alt='другое')

				.item-block__info
					a(href='detailed.html').item__title Eaton IQ150
					.item__subtitle Technical Data:  TD02601015E
					.item__description
						p The IQ 150 meter provides the ability to monitor volts and amps per phase along with power.  It meets ANSI C12.20 standards for accuracy of 0.5 percent and has optional Modbus/KYZ output.
					.item__specifications 
						span General Specifications:
						ul.specifications-list
							li
								+icon("check",16,16)
								p Programmable to monitor and display current, voltage, frequency, power factor, power (real, reactive, apparent), and system demand and min/max values.
							li
								+icon("check",16,16)
								p Optional Modbus/KYZ pulse output.
							li
								+icon("check",16,16)
								p 0.5% Class meter. 
							li
								+icon("check",16,16)
								p Designed for basic feeder applications where reading of voltage, current, frequency, and power are needed.
							li
								+icon("check",16,16)
								p Three line LED display is highly visible in all lighting and mounting conditions.

					a(href='file.pdf' download).item__documentatuion-link Documentation
						img(src='images/doc1.svg' alt='документация')

			.item-block
				.item-block__pic
					a(href='detailed.html').img
						img(src='images/article3.png' alt='фото товара')
					a(href='#').how-to-buy__link How to buy
					.item-block__socials
						a(href='#').compare-link
							span Compare
								+icon("cross",7,7)
						ul.socials-list
							li
								a(href='#')
									img(src='images/fb.svg' alt='фэйсбук')
							li
								a(href='#')
									img(src='images/mail.svg' alt='почта')
							li
								a(href='#')
									img(src='images/more.svg' alt='другое')

				.item-block__info
					a(href='detailed.html').item__title Eaton IQ150S
					.item__subtitle Technical Data:  TD02601015E
					.item__description
						p The IQ 150S meter provides the ability to monitor volts and amps per phase, power, and energy.  It meets ANSI C12.20 standards for accuracy of 0.2 percent and has standard Modbus RTU/KYZ output and optional Modbus TCP-wired or wireless.  It comes with a self enclosed NEMA 12 enclosure for surface mounting.
					.item__specifications 
						span General Specifications:
						ul.specifications-list
							li
								+icon("check",16,16)
								p Programmable to monitor and display current, voltage, frequency, power factor, power (real, reactive, apparent), energy (watt-hours, var hours, VA hours), system demand, and min/max values.
							li
								+icon("check",16,16)
								p Optional Modbus/KYZ pulse output.
							li
								+icon("check",16,16)
								p 0.5% Class meter. 
							li
								+icon("check",16,16)
								p Designed for basic feeder applications where reading of voltage, current, frequency, and power are needed.
							li
								+icon("check",16,16)
								p Three line LED display is highly visible in all lighting and mounting conditions.

					a(href='file.pdf' download).item__documentatuion-link Documentation
						img(src='images/doc1.svg' alt='документация')

			.item-block
				.item-block__pic
					a(href='detailed.html').img
						img(src='images/article4.png' alt='фото товара')
					a(href='#').how-to-buy__link How to buy
					.item-block__socials
						a(href='#').compare-link
							span Compare
								+icon("cross",7,7)
						ul.socials-list
							li
								a(href='#')
									img(src='images/fb.svg' alt='фэйсбук')
							li
								a(href='#')
									img(src='images/mail.svg' alt='почта')
							li
								a(href='#')
									img(src='images/more.svg' alt='другое')

				.item-block__info
					a(href='detailed.html').item__title Eaton IQ230
					.item__subtitle Technical Data:  TD02601015E
					.item__description
						p The IQ 210 meter is programmable to monitor and display phase currents, voltage, power (real, reactive, apparent), energy (watt-hours, var hours, VA hours), frequency, power factor, min and max values, system demand. 240V AC maximum system voltage.  1.0% Class energy meter with backlit LCD display. The IQ 220 offers the same features as the IQ 210 except rated for 600V AC maximum system voltage and also has INCOM communication capability and KYZ pulse output. The IQ 230 offers the same features as the IQ 220 plus 2 digital inputs and 2 digital outputs.
					.item__specifications 
						span General Specifications:
						ul.specifications-list
							li
								+icon("check",16,16)
								p Smaller size is ideal for panelboard and switchboard applications where panel space is at a premium and ANSI C12.16 accuracy is required 
							li
								+icon("check",16,16)
								p Energy management information provided by direct reading of up to 79 metered values 
							li
								+icon("check",16,16)
								p Can be used as a metering transducer for submetering applications
							li
								+icon("check",16,16)
								p IQ210-Programmable to monitor and display phase currents, voltage, power (real, reactive, apparent), energy (watt-hours, var hours, VA hours), frequency, power factor, min and max values, system demand. 240V AC maximum system voltage. 1.0% Class energy meter with backlit LCD display.
							li
								+icon("check",16,16)
								p IQ220-Same features as the IQ 210 except rated for 600V AC maximum system voltage. Also has INCOM communication capability and KYZ pulse output.
							li
								+icon("check",16,16)
								p IQ230-Same features as the IQ 220 plus 2 digital inputs, 2 digital outputs, and 1 Analog Input.

					a(href='file.pdf' download).item__documentatuion-link Documentation
						img(src='images/doc1.svg' alt='документация')
							

		aside.aside
			.search-block
				.search-input-wrapper
					input(type='text' placeholder='feature quick finder')
					//- +icon("loupe",24,24)
					img(src='images/loupe.svg')

			ul.filter-block.filter-block_first
				li
					a(href='javascript:;').j-filter-link 0.5% Class meter
				li
					a(href='javascript:;').j-filter-link 0.2% Class meter

			span Instrumentation
			ul.filter-block
				li
					a(href='javascript:;').j-filter-link Ground current
				li
					a(href='javascript:;').j-filter-link Neutral current
				li
					a(href='javascript:;').j-filter-link Watts
				li
					a(href='javascript:;').j-filter-link Current demand
				li
					a(href='javascript:;').j-filter-link Wh --Net
				li
					a(href='javascript:;').j-filter-link Watt Demand
				li
					a(href='javascript:;').j-filter-link Wh --Positive&negative
				li
					a(href='javascript:;').j-filter-link VA
				li
					a(href='javascript:;').j-filter-link VA Demand
				li
					a(href='javascript:;').j-filter-link VaH
				li
					a(href='javascript:;').j-filter-link VARs
				li
					a(href='javascript:;').j-filter-link VAR Demand
				li
					a(href='javascript:;').j-filter-link Frequency
				li
					a(href='javascript:;').more-link +16
						span features

			span Power quality analysis
			ul.filter-block
				li
					a(href='javascript:;').j-filter-link K-Factor
				li
					a(href='javascript:;').j-filter-link Crest Factor
				li
					a(href='javascript:;').j-filter-link Flicker
				li
					a(href='javascript:;').j-filter-link PQ Index Graph
				li
					a(href='javascript:;').more-link +9
						span features

			span Logging & alarms
			ul.filter-block
				li
					a(href='javascript:;').j-filter-link Min / Max Log
				li
					a(href='javascript:;').j-filter-link Event Log
				li
					a(href='javascript:;').j-filter-link Data Logging
				li
					a(href='javascript:;').j-filter-link Time / Date Stamp
				li
					a(href='javascript:;').j-filter-link Audible Alarm
				li
					a(href='javascript:;').j-filter-link LED Alarm Indicator
				li
					a(href='javascript:;').j-filter-link Email on Alarm
				li
					a(href='javascript:;').more-link +3
						span features

			span I/O Capability
			ul.filter-block.filter-block_last
				li
					a(href='javascript:;').j-filter-link Programmable Descrete Inputs
				li
					a(href='javascript:;').j-filter-link KYZ Output
				li
					a(href='javascript:;').j-filter-link Load Shedding
				li
					a(href='javascript:;').j-filter-link Analog Input
				li
					a(href='javascript:;').j-filter-link Analog Output
				li
					a(href='javascript:;').more-link +7
						span features

			ul.other-options-list
				li
					a(href='#') Waveform Analysis
					+icon("cross",10,10)
				li
					a(href='#') Time Synchronization
					+icon("cross",10,10)
				li
					a(href='#') Communications
					+icon("cross",10,10)
				li
					a(href='#') Operational Specifications
					+icon("cross",10,10)
