extends ../main.jade

block title
	title Каталог

block header
	include ../blocks/_header__choose

block content
	main.main
		.main-content.main-content__manufacturer.choose-cnt
			ul.main-menu.main-menu__choose
				li
					a(href='#').help-section__link.app-link Application
						img(src='images/app.svg' alt='icon')
				li
					a(href='menu-products.html') Products
				li
					a(href='manufacturer.html') Manufacturer
				li
					a(href='features2.html') Legacy
				li.active
					a(href='choose.html').compare__link Compare
						p 3
						+icon("graphic",25,23)

			.manufacturer-block.choose-block
				.manufacturer__text
					p.j-text-info The Select and Compare option lets you choose any Eaton metering product listed and compare it against up to three  other Eaton products. The Meter Wizard will then compile a side-by-side listing of any feature advantages or limitations of the selected meters compared to the selected base meter, along with detailed side-by-side feature comparisons.
					.fade-effect
					.more-text-link
						a(href='javascript:;').j-more-text-link
							+icon("arrow",30,20)

				.meter-quantity-block
					ul.meter-quantity-list
						li.j-chosen-meter 1
						li.j-chosen-meter 2
						li.j-chosen-meter 3
						li.j-chosen-meter 4
					span Meters to compare

				form.meter-choose-form.j-meter-choose-form
						- var label = {'IQ 35M':'images/article1.png','IQ 130':'images/holder1.png','IQ 140':'images/holder2.png','IQ 150':'images/holder3.png','IQ 150S':'images/holder3.png','IQ 230':'images/article1.png','IQ 250S':'images/holder3.png','IQ 260':'images/holder2.png','IQ DP - 4000':'images/holder1.png','IQ DP - 4100':'images/holder2.png','IQA - 6400':'images/article1.png','IQA - 6600':'images/holder1.png','PXMP':'images/holder3.png','PXM 2250':'images/holder3.png','PXM 2260':'images/holder2.png','PXM 2270':'images/holder1.png','PXM 2280':'images/holder3.png','PXM 2290':'images/article1.png','Power Xpert Meter 4000':'images/holder1.png','Power Xpert Meter 6000':'images/holder2.png','Power Xpert Meter 8000':'images/holder3.png'}
						each val, key in label
							fieldset
								label
									input(type='checkbox').checked__elem.j-checkbox-input
									.checkbox-fake.j-fakebox
										+icon("checked",14,11)
									.img
										img(src='#{val}')
									span= key
								a(href='#')
									+icon("info1",22,22)

					.buttons-block
						a(href='compare.html').results-button View results
						button(type='reset').reset-button Clear




