extends ../main.jade

block title
	title

block header
	include ../blocks/_header8

block content
	main.main.how-to-buy-block.j-how-to-buy-block
		.light-bg.j-light-bg
		.upper-block.j-upperSearch-block
			a(href='#' onclick="javascript:history.back();").upper-block__left
				.link
					+icon("arrow4",65,45)
				.img
					img(src='images/socket1.jpg' alt='socket')
				ul.breadcrumbs
					li Catalogue #
					li.last UHT3R2332TCH
			.upper-block__right
				.left
					span City & State
					.city
						input(type='text' value='Pittsburgh PA').j-city-input
						+icon("loupe",35,35)
					//- a(href='javascript:;').city Pittsburgh PA
					//- 	input(type='text')
					//- 	+icon("loupe",24,24)
				.right
					input(type='text' placeholder='Or enter your ZIP').zip.j-city-input
					img(src='images/zip.svg')

		.how-to-buy-block__left
			a(href='how-to-buy.html').title Visit Sales Office
			.contacts__map#map

		.how-to-buy-block__right

			.sales-office-block
				.title Pittsburgh Sales Office Map
				.address
					.img-wrapper
						img(src='images/location.svg' alt='')
					span Address:
					| 1000 Cherrington Parkway 
					br
					| Coraopolis PA  15108
				.phone
					.img-wrapper
						img(src='images/tel.svg' alt='')
					span Phone:
					| (412) 893-3300
				.location-type Location Type: Sales Office
				.distance Distance from your Zip Code: 13.1 miles

			.sales-office-block
				.title Eaton's Electrical Sector Americas Headquarters	
				.address
					.img-wrapper
						img(src='images/location.svg' alt='')
					span Address:
					| 1000 Cherrington Parkway
					br
					| Coraopolis PA  15108
				.phone
					.img-wrapper
						img(src='images/tel.svg' alt='')
					span Phone:
					| (412) 893-3300
				.location-type Location Type: Sales Office
				.distance Distance from your Zip Code: 13.1 miles

			.sales-office-block
				.title State College Sales Office
				.address
					.img-wrapper
						img(src='images/location.svg' alt='')
					span Address:
					| 434 Grace Street
					br
					| Northern Cambria PA 15714
				.phone
					.img-wrapper
						img(src='images/tel.svg' alt='')
					span Phone:
					| 814-948-0701
				.fax
					span Fax:
					| 814-948-0715
				.location-type Location Type: Sales Office
				.distance Distance from your Zip Code: 13.1 miles
			
			.sales-office-block
				.title Pittsburgh Sales Office Map
				.address
					.img-wrapper
						img(src='images/location.svg' alt='')
					span Address:
					| 1000 Cherrington Parkway 
					br
					| Coraopolis PA  15108
				.phone
					.img-wrapper
						img(src='images/tel.svg' alt='')
					span Phone:
					| (412) 893-3300
				.location-type Location Type: Sales Office
				.distance Distance from your Zip Code: 13.1 miles

			.sales-office-block
				.title Eaton's Electrical Sector Americas Headquarters	
				.address
					.img-wrapper
						img(src='images/location.svg' alt='')
					span Address:
					| 1000 Cherrington Parkway
					br
					| Coraopolis PA  15108
				.phone
					.img-wrapper
						img(src='images/tel.svg' alt='')
					span Phone:
					| (412) 893-3300
				.location-type Location Type: Sales Office
				.distance Distance from your Zip Code: 13.1 miles

			.sales-office-block
				.title State College Sales Office
				.address
					.img-wrapper
						img(src='images/location.svg' alt='')
					span Address:
					| 434 Grace Street
					br
					| Northern Cambria PA 15714
				.phone
					.img-wrapper
						img(src='images/tel.svg' alt='')
					span Phone:
					| 814-948-0701
				.fax
					span Fax:
					| 814-948-0715
				.location-type Location Type: Sales Office
				.distance Distance from your Zip Code: 13.1 miles


			.img
				img(src='images/socket1.jpg' alt='socket')			