extends ../main.jade

block title
	title

block header
	include ../blocks/_header__indexMeter

block content
	main.main.main_home.main_home-meters
		.main-content.main-content__home.j-main-products
			ul.main-menu.main-menu_modify.main-menu__products
				li
					a(href='#').help-section__link.app-link Application
						img(src='images/app.svg')
				li
					a(href='menu-products.html') Products
				li
					a(href='manufacturer.html') Manufacturer
				li
					a(href='features2.html') Legacy
				li
					a(href='choose.html').compare__link Compare
						+icon("graphic",25,23)

			.home-wrapper.j-home-wrapper
				h1.title_main Find the best Eaton Meter 
					br
					| For every situation
				.subtitle_main Eaton's wide range of metering products lets you monitor and manage your equipment like never before. But which Eaton meter is right for your project or application? With Eaton's Meter Selection Wizard, you can select by manufacturer, feature, or even compare Eaton meters side by side to find out which products best suit your needs. Click on one of the tabs above to get started.

			.home__main-content
				ul.categories
					li
						a(href='menu-products.html')
							.img
								img(src='images/meter-icon4.png' alt='')
							.img
								img(src='images/meter-icon4-blue.png' alt='')
							p wide range of metering products
					li
						a(href='manufacturer.html').link-second
							.img
								img(src='images/meter-icon3.png' alt='')
							.img
								img(src='images/meter-icon3-blue.png' alt='')
							p select by manufacturer
					li
						a(href='features2.html').link-third
							.img
								img(src='images/meter-icon2.png' alt='')
							.img
								img(src='images/meter-icon2-blue.png' alt='')
							p select by application
					li
						a(href='choose.html').link-fourth
							.img
								img(src='images/meter-icon1.png' alt='')
							.img
								img(src='images/meter-icon1-blue.png' alt='')
							p Compare meters

				ul.categories__photos.j-categoty-photo
					li.j-category-item

						img(src='images/index-pic1.jpg' alt='photo').j-category-img
						a(href='#').category__link.category__link1
							.icon-wrapper
								img(src='images/20.png' alt='icon')
								img(src='images/20-colored.png' alt='icon')
							.category-text-wrapper.j-category-text
								.category__title Power Energy Metering
								.category__text Energy meter is a device that measures the amount of electric energy consumed by a residence, a business, or an electrically powered device. When energy savings during certain periods are desired, some meters may measure demand, the maximum use of power in some interval
					li.j-category-item
						img(src='images/index-pic2.jpg' alt='photo').j-category-img
						a(href='#').category__link.category__link2
							.icon-wrapper
								img(src='images/21.png' alt='icon')
								img(src='images/21-colored.png' alt='icon')
							.category-text-wrapper.j-category-text
								.category__title Power Quality
								.category__text Electric power quality (EPQ), or simply Power quality, refers to "maintaining the near sinusoidal waveform of power distribution bus voltages and currents at rated magnitude and frequency.",determining the fitness of electric power to consumer devices. 
					li.j-category-item
						img(src='images/index-pic3.jpg' alt='photo').j-category-img
						a(href='#').category__link.category__link3
							.icon-wrapper
								img(src='images/22.png' alt='icon')
								img(src='images/22-colored.png' alt='icon')
							.category-text-wrapper.j-category-text
								.category__title Sub-Metering
								.category__text Submetering is the implementation of a system that allows a landlord, property management firm, condominium association, homeowners association, or other multi-tenant property to bill tenants for individual measured utility usage.
					li.j-category-item
						img(src='images/index-pic4.jpg' alt='photo').j-category-img
						a(href='#').category__link.category__link4
							.icon-wrapper
								img(src='images/23.png' alt='icon')
								img(src='images/23-colored.png' alt='icon')
							.category-text-wrapper.j-category-text
								.category__title Wireless Metering
								.category__text Unlike home energy monitors, smart meters can gather data for remote reporting. Such an advanced metering infrastructure (AMI) differs from traditional automatic meter reading (AMR) in that it enables two-way communications with the meter.

			.products__bottom.home__bottom
				.products__bottom-text Your Eaton sales representative can help you fully understand the options, benefits, and solutions that Eaton meters can provide. 
				.products__bottom_additional Questions regarding product selection and technical support should be directed 
				.products__bottom-tel 1-800-809-2772
				a(href='mailto:pqsupport@eaton.com').products__bottom-email pqsupport@eaton.com


		aside.aside.aside__products.aside_home.aside__scroll
			.header-sales-office
				a(href='contact.html')
					span Contact us
						+icon("envelope",30,27)
			.catalogue__mobile-view.home__filters
				span Select application
					+icon("arrow6",15,20)
				.app-links-block
					a(href='javascript:;') Power energy metering
						span 12
					a(href='javascript:;') Power quality
						span 3
					a(href='javascript:;') Sub-metering
						span 6
					a(href='javascript:;') Wireless metering
						span 2
				span.font__modify Power distribution & control assemblies
				ul.catalogue__mobile-list
					li
						a(href='menu-products.html') Distribution Boards & Consumer Units
					li
						a(href='menu-products.html') IEC Low Voltage Switchboard Systems
					li
						a(href='menu-products.html') ANSI Low Voltage Control Assemblies
					li
						a(href='menu-products.html') Halyester Polyester Enclosures
					li
						a(href='menu-products.html') Electrical Houses (E-House)
					li
						a(href='menu-products.html') IEC Medium Voltage Switchgear
					li
						a(href='menu-products.html') ANSI Medium Voltage Switchgear
					li
						a(href='menu-products.html') Medium Voltage Circuit Breakers & Contactors
					li
						a(href='menu-products.html') Medium Voltage Drives SC9000
					li
						a(href='menu-products.html') Protective Relays
					li
						a(href='menu-products.html') Predictive Diagnostics
					li
						a(href='menu-products.html') Busway