// Fonts

$open-sans:'Open Sans', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;

// Colors

$green: #8ab833;
$gray: #a6a6a6;
$blue: #005eb8;
$bgGray: #ebebeb;
$asideGray: #333333;
$lightGray: #e6e6e6;